In [1]:
import pandas as pd
import random

In [2]:
df1= pd.read_csv('infos_cars_f.csv')
df2= pd.read_csv('car_sales_data.csv', sep=';')

FileNotFoundError: [Errno 2] No such file or directory: 'car_sales_data.csv'

In [47]:
df1[df1['Make'] == 'Ford']

,Make,Model,Fuel,Vehicle Type,Engine Size,Horsepower,Origin Country,Transmission,Kilometers Driven,Engine Power,Fuel Type,Cylinders,Weight,Speed,Doors,EPA Fuel Economy Score,Fuel Efficiency,Safety Ratings
2,Ford,Civic,Gas,Sedan,2.0L,158,USA,Manual,72000,120 kW,Gasoline,4,1300 kg,190 km/h,4,8,32 mpg,5/5
3,Ford,Altima,Gas,Sedan,2.5L,188,USA,Automatic,105000,150 kW,Gasoline,4,1400 kg,200 km/h,4,6,28 mpg,4/5
6,Ford,Corolla,Gas,Sedan,1.8L,140,USA,Manual,75000,96 kW,Gasoline,4,1200 kg,180 km/h,4,7,34 mpg,4/5
16,Ford,Silverado,Gas,Truck,5.3L,355,USA,Automatic,105000,265 kW,Gasoline,8,2400 kg,210 km/h,4,5,20 mpg,4/5
23,Ford,F-150,Diesel,Truck,3.5L,450,USA,Automatic,95000,335 kW,Diesel,6,2200 kg,240 km/h,4,5,17 mpg,4/5

In [48]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Make                    25 non-null     object
 1   Model                   25 non-null     object
 2   Fuel                    25 non-null     object
 3   Vehicle Type            25 non-null     object
 4   Engine Size             25 non-null     object
 5   Horsepower              25 non-null     int64
 6   Origin Country          25 non-null     object
 7   Transmission            25 non-null     object
 8   Kilometers Driven       25 non-null     int64
 9   Engine Power            25 non-null     object
 10  Fuel Type               25 non-null     object
 11  Cylinders               25 non-null     int64
 12  Weight                  25 non-null     object
 13  Speed                   25 non-null     object
 14  Doors                   25 non-null     int64
 15  EPA Fuel Economy Score  25 non-null     int64
 16  Fuel Efficiency         25 non-null     object
 17  Safety Ratings          25 non-null     object
dtypes: int64(5), object(13)
memory usage: 3.6+ KB

In [49]:
# Supprimer les doublons
unique_pairs = df2[['Car Make', 'Car Model']].drop_duplicates()

# Convertir le DataFrame résultant en liste de tuples
result_list = [tuple(x) for x in unique_pairs.values]

# Afficher le résultat
print(result_list)

[('Nissan', 'Altima'), ('Nissan', 'F-150'), ('Ford', 'Civic'), ('Ford', 'Altima'), ('Honda', 'Silverado'), ('Honda', 'F-150'), ('Ford', 'Corolla'), ('Toyota', 'Silverado'), ('Toyota', 'F-150'), ('Chevrolet', 'Altima'), ('Honda', 'Corolla'), ('Nissan', 'Silverado'), ('Toyota', 'Civic'), ('Nissan', 'Civic'), ('Chevrolet', 'F-150'), ('Chevrolet', 'Silverado'), ('Ford', 'Silverado'), ('Toyota', 'Altima'), ('Chevrolet', 'Civic'), ('Chevrolet', 'Corolla'), ('Honda', 'Civic'), ('Nissan', 'Corolla'), ('Toyota', 'Corolla'), ('Ford', 'F-150'), ('Honda', 'Altima')]

In [50]:
df2

,Date,Salesperson,Customer Name,Car Make,Car Model,Car Year,Sale Price,Commission Rate,Commission Earned
0,01/08/2022,Monica Moore MD,Mary Butler,Nissan,Altima,2018,15983,0.070495,1126.73
1,15/03/2023,Roberto Rose,Richard Pierce,Nissan,F-150,2016,38474,0.134439,5172.40
2,29/04/2023,Ashley Ramos,Sandra Moore,Ford,Civic,2016,33340,0.114536,3818.63
3,04/09/2022,Patrick Harris,Johnny Scott,Ford,Altima,2013,41937,0.092191,3866.20
4,16/06/2022,Eric Lopez,Vanessa Jones,Honda,Silverado,2022,20256,0.113490,2298.85
...,...,...,...,...,...,...,...,...,...
1048570,22/03/2023,Jean Stevenson MD,Jeffrey Hernandez,Ford,Silverado,2015,41043,0.107835,4425.89
1048571,12/02/2023,Daniel Odonnell,Amy Flores,Ford,Civic,2010,23958,0.067569,1618.81
1048572,17/10/2022,Paul Foster,Lucas Frank,Ford,Corolla,2021,43768,0.138509,6062.26
1048573,21/12/2022,Brett Hansen,Natasha Payne,Nissan,Altima,2010,33733,0.136388,4600.77
1048574,19/02/2023,Benjamin Lawson,Daniel Hayes,Chevrolet,F-150,2019,19352,0.126393,2445.96

In [51]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 9 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   Date               1048575 non-null  object
 1   Salesperson        1048575 non-null  object
 2   Customer Name      1048575 non-null  object
 3   Car Make           1048575 non-null  object
 4   Car Model          1048575 non-null  object
 5   Car Year           1048575 non-null  int64
 6   Sale Price         1048575 non-null  int64
 7   Commission Rate    1048575 non-null  float64
 8   Commission Earned  1048575 non-null  float64
dtypes: float64(2), int64(2), object(5)
memory usage: 72.0+ MB

In [52]:
african_countries = ['Algeria', 'Benin', 'Botswana', 'Burkina Faso', 'Cameroon', 'Central African Republic', 'Chad', 'Comoros', 'Congo', 'Djibouti', 'Egypt', 'Equatorial Guinea', 'Ethiopia', 'Gabon', 'Gambia', 'Ghana', 'Guinea', 'Guinea-Bissau', 'Ivory Coast', 'Kenya', 'Liberia', 'Libya', 'Madagascar', 'Mali', 'Mauritania', 'Mauritius', 'Nigeria', 'Rwanda', 'Senegal', 'Sierra Leone', 'Somalia', 'South Africa', 'Sudan', 'Tanzania', 'Togo', 'Tunisia', 'Zambia']

# Create a dictionary to store assigned countries for each customer name
customer_country_dict = {}

# Iterate through the DataFrame and assign countries
for index, row in df2.iterrows():
    customer_name = row['Customer Name']
    
    # Check if the customer name is already in the dictionary
    if customer_name in customer_country_dict:
        assigned_country = customer_country_dict[customer_name]
    else:
        # If not, assign a random country and update the dictionary
        assigned_country = random.choice(african_countries)
        customer_country_dict[customer_name] = assigned_country
    
    # Assign the country to the 'Country' column
    df2.at[index, 'Country'] = assigned_country

In [53]:
df2

,Date,Salesperson,Customer Name,Car Make,Car Model,Car Year,Sale Price,Commission Rate,Commission Earned,Country
0,01/08/2022,Monica Moore MD,Mary Butler,Nissan,Altima,2018,15983,0.070495,1126.73,Comoros
1,15/03/2023,Roberto Rose,Richard Pierce,Nissan,F-150,2016,38474,0.134439,5172.40,Mauritius
2,29/04/2023,Ashley Ramos,Sandra Moore,Ford,Civic,2016,33340,0.114536,3818.63,Mauritius
3,04/09/2022,Patrick Harris,Johnny Scott,Ford,Altima,2013,41937,0.092191,3866.20,Equatorial Guinea
4,16/06/2022,Eric Lopez,Vanessa Jones,Honda,Silverado,2022,20256,0.113490,2298.85,Egypt
...,...,...,...,...,...,...,...,...,...,...
1048570,22/03/2023,Jean Stevenson MD,Jeffrey Hernandez,Ford,Silverado,2015,41043,0.107835,4425.89,Chad
1048571,12/02/2023,Daniel Odonnell,Amy Flores,Ford,Civic,2010,23958,0.067569,1618.81,South Africa
1048572,17/10/2022,Paul Foster,Lucas Frank,Ford,Corolla,2021,43768,0.138509,6062.26,Zambia
1048573,21/12/2022,Brett Hansen,Natasha Payne,Nissan,Altima,2010,33733,0.136388,4600.77,Burkina Faso
1048574,19/02/2023,Benjamin Lawson,Daniel Hayes,Chevrolet,F-150,2019,19352,0.126393,2445.96,Djibouti

In [54]:
df2.to_csv('f_cars_sales.csv', index=False)